.filter_bar {
 max-width: 1110px;
 max-height: fit-content;
 display: flex;
 margin-top: 30px;
 margin-left: auto;
 margin-right: auto;
}

.filter_input {
    background-color: rgb(27, 26, 26);
    border: 3px solid, aliceblue;
    border-radius: 10px;
    color:aliceblue;
    font-size: 15pt;
    width: 400px;
    margin-right: auto;
}

.filter_input:focus {
    outline-width: 0px;
}

.filter_button {
    background-color: rgb(27, 26, 26);
    border: 3px solid, aliceblue;
    border-radius: 10px;
    color:aliceblue;
    min-width: 50px;
    margin: 10px;
    font-size: 18px;
}

.review_list {
    max-width: 1110px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.review_list button:focus {
    outline-width: 0px;
}

.review-window {
    position:fixed;
    top: 220px;
    z-index: 1;
    background-color: rgb(28, 28, 28);
    border-radius: 10px;
    width: 370px;
    height: 600px;
    padding: 10px;
}

.review-window h2 {
    margin: 0px;
}

.review-window button {
    position: absolute;
    border-radius: 8px;
    border: solid aliceblue 3px;
    bottom: 10px;
    right: 10px;
}

.review-window img {
    width: 360px;
    height: 60%;
}